
<h1> Crear Producto </h1>
<div class="alert alert-info">
    <strong>Nota:</strong> Esta es una página para crear un nuevo producto. Por favor, completa todos los campos.

</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            
        
        </form>
    </div>
</div>
